@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 182 100% 45%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 240 10% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 56 100% 50%;
    --accent-foreground: 240 10% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 182 100% 45%;
    --chart-1: 182 100% 45%;
    --chart-2: 56 100% 50%;
    --chart-3: 0 0% 75%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 99%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 182 100% 45%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 0 0% 92%;
    --sidebar-accent-foreground: 240 10% 9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 182 100% 45%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 60%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 56 100% 50%;
    --accent-foreground: 240 10% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 182 100% 60%;
    --chart-1: 182 100% 60%;
    --chart-2: 56 100% 60%;
    --chart-3: 0 0% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 182 100% 60%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 182 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
